* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    justify-content: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
